*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #6c6b6b;
}
.h-box
{
	padding: 30px 20px;
	width: 100%;
	background-color: #FF00FF;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}
.h-box > div
{
	background-color: #FFCCFF;
	margin: 0 10px;
	flex-basis: 140px;
	height: 70px;
}
.h-box > :first-child
{
	margin-right: auto;
}
main
{
	display: flex;
	justify-content: center;
}
.m-box1
{
	background-color: #AEFFBD;
	width: 300px;
}
.m-box2
{
	padding: 20px;
	max-width: 700px;
	flex-grow: 1;
	background-color: #008000;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.m-box2 > div
{
	background-color: #FFFF00;
	margin: 10px;
	flex-basis: 200px;
	height: 130px;
}

.f-box
{
	padding: 20px;
	width: 100%;
	background-color: #0000FF;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.f-box > div
{
	background-color: #BBFFFF;
	margin: 10px;
	flex-basis: 45%;
	max-width: 600px;
	height: 40px;
}
